.DS_Store
Thumbs.db

[Bb]in/
[Oo]bj/

*.user
*.suo
*.sln.suo
*.sln.docstates
*.sln.filters
*.sln.iml

*.csproj.user
*.vcxproj.user
*.sqlproj.user
*.dbproj.user
*.pgproj.user

*.vssscc
*.vspscc

*.log
*.bak
*.cache

*.pdb
*.psess
*.vsp
*.trx
TestResults/

*.dbmdl

.vs/
.vscode/
.idea/
.history/

packages/
*.nupkg
*.snupkg
.nuget/NuGetScratch/
.nuget/*.user

appsettings.Local.json
appsettings.*.user.json
appsettings.json
launchSettings.json

.microsoft/usersecrets/

