.DS_Store
Thumbs.db

[Bb]in/
[Oo]bj/


*.log
*.bak
*.cache

*.pdb
*.psess
*.vsp
*.trx
TestResults/

*.dbmdl

.vs/
.vscode/
.idea/
.history/

packages/
*.nupkg
*.snupkg
.nuget/NuGetScratch/
.nuget/*.user

appsettings.Local.json
appsettings.*.user.json
appsettings.json
launchSettings.json

.microsoft/usersecrets/
