[Bb]in/ 
[Oo]bj/ 
*.user 
*.suo # Visual Studio Solution User Options (stan rozwiązania)
*.log # Pliki logów
*.bak # Kopie zapasowe
*.cache 
*.pdb 

.vs/ 
.history/ # Pliki historii (jeśli używasz)
*.csproj.user # Ustawienia projektu specyficzne dla użytkownika
*.vcxproj.user
*.sqlproj.user
*.dbproj.user
*.vssscc
*.vspscc
*.pgproj.user
*.sln.docstates 
*.sln.filters 
*.sln.suo
*.sln.iml 

.vscode/
.idea/ 

packages/ 
*.nupkg
*.snupkg 
.nuget/NuGetScratch/ 
.nuget/*.user

appsettings.Local.json
appsettings.*.user.json

.microsoft/usersecrets/ 

*.trx
TestResults/ 
*.psess 
*.vsp 

*.dbmdl 
.DS_Store 
Thumbs.db 

